<!DOCTYPE html>

<!-- Link to css file -->
<head>
    <link rel="stylesheet" type="text/css" href={{.Formatting}} media="screen" />
</head>

<!-- Clear all elements -->
<script>
	document.body.innerHTML = "";
</script>


<body>
    <div id="centered_block">

        <h1><strong>{{.Name}}</strong></h1>

        {{ if .Text }}
            <span style="display: inline-block;">{{.Text}}</span>
            <hr />
        {{end}}

        {{ range $key, $value := index $.Links }}
            <span style="display: inline-block;"><a href={{$value}} target="_blank" rel="noopener">{{$key}}</a></span> &ensp;        
        {{end}}
        {{if .Links}}
            <hr />
        {{end}}

        {{range .Images}}
            <p><img src={{.}} width="400" height="auto" align="middle"/></p>
            <br>
        {{end}}

        {{ if .PDF}}
        <!-- <div id="centered_element"> -->
            <p align="center"><iframe src={{.PDF}} width="700" height="900"></iframe></p>
        <!-- </div> -->
        {{end}}
    </div>
</body>
