body {
    background-color: rgb(185, 191, 192);
} 

#centered_block {
    margin: 0 auto;
    max-width: 800px;
}

#centered_element {
    left: 50%;
    text-align: center;
    align-content: center;
}

#bottom_page_text {
    font-size: 75%;
    /* color: rgb(185, 191, 192) */
}